{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" wfd-id="48">
        <h1 class="display-4">Цены</h1>
        <p class="lead">Быстро создавайте статьи о чём угодно.</p>
    </div>
    <div class="card-deck mb-3 text-center" wfd-id="23">
        <div class="card mb-4 box-shadow" wfd-id="40">
            <div class="card-header" wfd-id="47">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body" wfd-id="41">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ месяц</small></h1>
                <ul class="list-unstyled mt-3 mb-4" wfd-id="42">
                    <li wfd-id="45">Возможность создать 5 статей</li>
                    <li wfd-id="44">Поддержка по электронной почте</li>
                    <li wfd-id="43">Доступ к справочному центру</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" wfd-id="52">Зарегистририроваться бесплатно</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow" wfd-id="32">
            <div class="card-header" wfd-id="39">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body" wfd-id="33">
                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ месяц</small></h1>
                <ul class="list-unstyled mt-3 mb-4" wfd-id="34">
                    <li wfd-id="37">Возможность создать 20 статей</li>
                    <li wfd-id="36">Приоритетная поддержка по электронной почте</li>
                    <li wfd-id="35">Доступ к справочному центру</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" wfd-id="51">Начать</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow" wfd-id="24">
            <div class="card-header" wfd-id="31">
                <h4 class="my-0 font-weight-normal">Extended</h4>
            </div>
            <div class="card-body" wfd-id="25">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ месяц</small></h1>
                <ul class="list-unstyled mt-3 mb-4" wfd-id="26">
                    <li wfd-id="29">Возможность создать неограничено количество статей</li>
                    <li wfd-id="28">Поддержка по телефону и электронной почте</li>
                    <li wfd-id="27">Доступ к справочному центру</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" wfd-id="50">Получить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
